:root {
  --first-color: #ffbc4a;
  --second-color: #d7321e;
  --third-color: #ffffff;
  --animation-duration: 0.3s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(243, 183, 84);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(243, 183, 84);
    box-shadow: 0 0 0 0 rgb(243, 183, 84);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@media screen and (max-width: 480px), screen and (max-height: 420px) {
  .chatParent {
    overflow-y: hidden;
    position: static;
    height: 0px;
    width: 0px;
  }
}

#blip-chat-notifications {
  background-color: #f76556;
  color: #fff;
  border-radius: 50%;
  line-height: 21px;
  font-size: 12px;
  width: 21px;
  height: 21px;
  position: fixed;
  text-align: center;
  bottom: 65px;
  right: 30px;
  opacity: 0;
}

#blip-chat-container {
  position: fixed;
  bottom: 40px;
  right: 80px;
  z-index: 1000000;
  display: block !important;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container {
    bottom: 0px;
    right: 0px;
    position: static;
    height: 100%;
  }
}

#blip-chat-container #blip-chat-iframe {
  position: fixed;
  bottom: 90px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms, transform 500ms, visibility 500ms, height 0s 500ms;
  transform: translateY(10%);
  z-index: 1000001;
  height: 0;
  width: 400px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #faf9f8;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container #blip-chat-iframe {
    right: 0px;
    bottom: 0px !important;
    max-height: 100vh !important;
    width: 100vw;
    position: absolute;
    box-shadow: none;
  }
}

#blip-chat-container #blip-chat-iframe.blip-chat-iframe-opened {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 500ms 10ms, transform 500ms 10ms, visibility 500ms 10ms,
    height 0ms;
  height: 610px;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container #blip-chat-iframe.blip-chat-iframe-opened {
    height: 100%;
  }
}

#blip-chat-container #blip-chat-open-iframe {
  animation: pulse 2s infinite;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  width: 4%;
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  min-height: 70px;
  right: 35px;
  bottom: 35px;
  transition: transform 200ms, opacity 500ms, visibility 500ms;
  box-shadow: 0 0 0 rgb(185, 30, 5);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#message-bubble {
  display: flex;
  margin-right: 8px;
  cursor: pointer;
  animation: BubbleLoad var(--animation-duration) forwards;
}

#message-bubble.hide {
  animation: BubbleUnload var(--animation-duration) forwards;
}

#message-bubble > #message {
  display: flex;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 32px rgba(0, 0, 0, 0.1);
  color: var(--third-color);
  background-color: var(--second-color);
  border-radius: 5px;
}

#message-bubble > #triangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

#message-bubble > #triangle::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--second-color);
  transform: rotate(45deg);
  right: 28px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 32px rgba(0, 0, 0, 0.1);
}

#blip-chat-close-icon {
  background-color: var(--first-color) !important;
  display: block !important;
  opacity: 0;
}

#blip-chat-close-icon.display {
  animation: CloseIconDisplay var(--animation-duration) forwards;
}

/* Styles to icon and bubble hover */

#blip-chat-icon > img {
  transition: var(--animation-duration) !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

#blip-chat-icon > img.top {
  opacity: 1;
}

#blip-chat-icon > img.bottom {
  opacity: 0;
}

#blip-chat-open-iframe:hover > #blip-chat-icon > img.top {
  opacity: 0;
}

#blip-chat-open-iframe:hover > #blip-chat-icon > img.bottom {
  opacity: 1;
}

/* Keyframes */

@keyframes CloseIconDisplay {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg);
    opacity: 1;
  }
}

@keyframes CloseIconHide {
  0% {
    transform: rotate(90deg);
  }
  50% {
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes BubbleLoad {
  0% {
    opacity: 0;
    margin-right: -250px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 8px;
  }
}

@keyframes BubbleUnload {
  0% {
    opacity: 1;
    margin-right: 8px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-right: -250px;
  }
}

/*500x500*/

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(243, 183, 84);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(243, 183, 84);
    box-shadow: 0 0 0 0 rgb(243, 183, 84);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@media screen and (max-width: 480px), screen and (max-height: 420px) {
  .chatParent {
    overflow-y: hidden;
    position: static;
    height: 0px;
    width: 0px;
  }
}

#blip-chat-notifications {
  background-color: #f76556;
  color: #fff;
  border-radius: 50%;
  line-height: 21px;
  font-size: 12px;
  width: 21px;
  height: 21px;
  position: fixed;
  text-align: center;
  bottom: 65px;
  right: 30px;
  opacity: 0;
}

#blip-chat-container {
  position: fixed;
  bottom: 40px;
  right: 80px;
  z-index: 1000000;
  display: block !important;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container {
    bottom: 0px;
    right: 0px;
    position: static;
    height: 100%;
  }
}

#blip-chat-container #blip-chat-iframe {
  position: fixed;
  bottom: 90px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms, transform 500ms, visibility 500ms, height 0s 500ms;
  transform: translateY(10%);
  z-index: 1000001;
  height: 0;
  width: 400px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #faf9f8;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container #blip-chat-iframe {
    right: 0px;
    bottom: 0px !important;
    max-height: 100vh !important;
    width: 100vw;
    position: absolute;
    box-shadow: none;
  }
}

#blip-chat-container #blip-chat-iframe.blip-chat-iframe-opened {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 500ms 10ms, transform 500ms 10ms, visibility 500ms 10ms,
    height 0ms;
  height: 610px;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container #blip-chat-iframe.blip-chat-iframe-opened {
    height: 100%;
  }
}

#blip-chat-container #blip-chat-open-iframe {
  animation: pulse 2s infinite;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  position: fixed;
  width: 4%;
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  min-height: 70px;
  right: 35px;
  bottom: 35px;
  transition: transform 200ms, opacity 500ms, visibility 500ms;
  box-shadow: 0 0 0 rgb(185, 30, 5);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 480px), screen and (max-height: 420px) {
  #blip-chat-container #blip-chat-open-iframe.opened {
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

#blip-chat-container #blip-chat-open-iframe:active {
  transform: scale(0.9);
}

#blip-chat-container #blip-chat-open-iframe img,
#blip-chat-container #blip-chat-open-iframe svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#blip-chat-open-iframe {
  display: none;
}

#blip-chat-iframe {
  width: 100%;
  height: 100%;
}
